.site-image-container {
    width: 400px;
    height: 456px;
}

.site-image {
    width: 400px;
    height: 456px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.templates-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .templates-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .templates-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.sidebar-container {
    width: 240px;
    display: flex;
    flex-direction: column;
}

.sidebar-container img:last-child {
    min-height: calc(100vh - 240px);
    object-fit: fill;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img {
    display: block;
}