.site-image-container {
    width: 400px;
    height: 456px;
}

.site-image {
    width: 400px;
    height: 456px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.templates-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 2rem;
    justify-content: flex-start;
}

.sidebar-container {
    width: 240px;
    display: flex;
    flex-direction: column;
}

.sidebar-container img:last-child {
    min-height: calc(100vh - 240px);
    object-fit: fill;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img {
    display: block;
}

.template-card {
    width: 400px;
}

#propertySelector {
    min-width: 300px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}